/* src/components/Footer/Footer.css */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto; /* Esto hace que se pegue al final del contenedor */
    width: 100%; /* Asegurar que ocupe todo el ancho */
}